.indicator {
    border: 0;
    background: #eaeaea;
    width: 32px;
    height: 32px;
}

.indicators {
    display: flex;
    gap: 10px;
    width: 250px;
    flex-wrap: wrap;
}

.indicator.active {
    background: #607D8B;
    color: #fff;
}

.question-layout {
    display: flex;
    justify-content: space-between;
}

.question-container {
    flex: 1;
}